html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: black;
  font-family: 'DM Sans';
  color: white;
  padding: 50px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'DM Sans';
  src: url(./assets/fonts/DMSans-Regular.ttf);
}